body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    height: 60px;
    padding-left: 30px;
    padding-top: 10px;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Inter');

header>span, header>span>a {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    height: 20px;
    vertical-align: 7px;
    margin-right: 25px;
    text-decoration: none;
}   

header>span:hover{
    text-shadow:
    0 0 10px #f12,
    0 0 20px #f12,
    0 0 30px #f12,
    0 0 40px #f12;
}

#icon {
    left: 50px;
    width: 45px;
    border-radius: 100%;
    margin-right: 25px;
}

body{
    background-color: #222222;
}

.navigation {
    position: fixed;
    top: 90px;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    counter-reset: li;
    list-style: none;
    width: 300px;
}

.navigation li {
    position: relative;
    border-left: 4px solid #337AB7;
    padding: 16px 20px 16px 28px;
    margin: 12px 0;
    transition-duration: 0.3s;
    cursor: pointer;
}

.navigation li:before {
    line-height: 32px;
    position: absolute;
    top: 10px;
    left: -80px;
    width: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #77AEDB;
    counter-increment: li;
    content: counter(li);
    transition-duration: 0.3s
}

.navigation li:hover:before {
    color: #337AB7; 
}

.navigation li:after {
    position: absolute; 
    top: 26px; 
    left: -40px;
    width: 60px; 
    height: 60px; 
    border: 8px solid #3399FF; 
    border-radius: 50%; 
    content: ''; 
    opacity: 0; 
    transition: transform 0.3s, opacity 0.3s;
    transform: translate(-50%, -50%) scale(0.1); 
    pointer-events: none; 
}

.navigation li:hover:after {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(1);
}

.navigation a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    transition: color 0.3s;
}

.navigation a.active {
    text-shadow:
    0 0 10px,
    0 0 20px,
    0 0 30px,
    0 0 40px,
    0 0 50px,
    0 0 60px;
    transition: text-shadow 0.5s ease;
}


.navigation>ul>li>a{
    font-size: 18px;
}


.content>section {
    border: 3px solid white;
    border-radius: 50px;
    margin-left: 380px;
    padding: 20px;
}

h2{
    color: #ffea19;
    text-shadow:
    0 0 10px,
    0 0 20px,
    0 0 30px,
    0 0 40px,
    0 0 50px,
    0 0 60px;
}

section {
    color: white;
    margin: 20px 0;
    position: relative;
    font-size: 25px;
}

.rounded {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
}

.rounded li {
    counter-increment: li;
    margin: .5em 0;
    position: relative;
    padding-left: 3em;
    margin-bottom: 2em;
    cursor: pointer;
}

.rounded li:before {
    content: counter(li);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

h2{
    font-size: 50px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
#largeIcon {
    position: relative;
    width: 500px;
    height: 500px;
    transition: all 0.3s ease;
    border-radius: 400px;
}
#close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    font-size: 70px;
    cursor: pointer;
}